page-home {


  .content {
    background-color: #f8f8f8;
    background-image: url("assets/images/background.gif");
    background-repeat: repeat;
    background-size: cover;
  }

  .slogan {
    text-align: center;
  }

  ion-card {
    position: relative;
    text-align: center;
    width: 100% !important;
    max-width: 500px;
    margin:0 auto !important;
  }

  .card-min {
    max-height: 111px;
  }

  .card-min .card-title {
    font-size: 1em;
  }

  .card-title {
    position: absolute;
    bottom: 5%;
    font-size: 3.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;


  }

  .card-subtitle {
    font-size: 0.6em;
    position: absolute;
    top: 5%;
    width: 100%;
    color: #222;
    display: none;
  }

}
